<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body, {
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ]
        });"></script>
</head>

<body>
  <%- include('partials/navbar') %>

  <div class="notes-layout">

    <aside class="notes-sidebar">
      <h3><%= __('notes_page.sidebar_title') %></h3>
      <ul>
        <li><a href="/notes" class="<%= activeTopic === 'index' ? 'active' : '' %>"><%= __('notes_page.sidebar_overview') %></a></li>
        <li><a href="/notes/hungerford-algebra" class="<%= activeTopic === 'hungerford-algebra' ? 'active' : '' %>"><%= __('notes_page.sidebar_hungerford') %></a></li>
        <li><a href="/notes/abstract-algebra" class="<%= activeTopic === 'abstract-algebra' ? 'active' : '' %>"><%= __('notes_page.sidebar_abstract') %></a></li>
        <li><a href="/notes/linear-algebra" class="<%= activeTopic === 'linear-algebra' ? 'active' : '' %>"><%= __('notes_page.sidebar_linear') %></a></li>
        <li><a href="/notes/real-analysis" class="<%= activeTopic === 'real-analysis' ? 'active' : '' %>"><%= __('notes_page.sidebar_real_complex') %></a></li>
        <li><a href="/notes/programming" class="<%= activeTopic === 'programming' ? 'active' : '' %>"><%= __('notes_page.sidebar_programming') %></a></li>
        <li><a href="/notes/my-readings" class="<%= activeTopic === 'my-readings' ? 'active' : ''%>"><%= __('notes_page.sidebar_readings') %></a></li>
      </ul>
    </aside>

    <main class="notes-content">
      <% if (activeTopic !== 'my-readings') { %>
      <h1 class="notes-main-title">
        <%= __('notes_page.main_title') %>
      </h1>
      <% } %>

      <% if (activeTopic === 'index') { %>
      <%- include('topics/index') %>

      <% } else if (activeTopic === 'hungerford-algebra') { %>
      <%- include('topics/hungerford-algebra') %>

      <% } else if (activeTopic === 'my-readings') { %>
      <%- include('topics/my-readings') %>

      <% } else { %>
      <div class="notes-error-box">
        <h2 class="notes-error-title"><%= __('notes_page.error_title') %></h2>
        <p><%= __('notes_page.error_desc') %></p>
      </div>
      <% } %>

    </main>

  </div>

  <%- include('partials/footer') %>
</body>

</html>